@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    ackground: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.596)
 }

@tailwind base;
@tailwind components;
@tailwind utilities;